[submodule "tmux/plugins/tmux-fuzzback"]
	path = tmux/plugins/tmux-fuzzback
	url = git@github.com:roosta/tmux-fuzzback.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
